<?xml version="1.0"?>
<configuration>
  <!-- define the xceligent-specific configuration settings -->

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CDXEPDSessionHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="Authentication" value="Windows" />
    <!-- This is for CSLA security.  For now setting to "Windows", which bypasses CSLA security -->
    <add key="DB:MainDB" value="data source=SQLM01Prod,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser" />
    <add key="DB:ReportDB" value="data source=SQLM02Prod,1705;initial catalog=XcelWebReport_Prod;user=xceligentuser;password=xceligentuser" />
    <add key="webServerName" value="cdx.xceligent.com" />
    <add key="pdfServerName" value="cdx.xceligent.com" />
    <add key="printSummaryURLBase" value="http://cdx.xceligent.com"/>
    <add key="ipList" value="206.230.229.121;206.230.229.122;206.230.229.123;206.230.229.124" />
    <add key="disabledColor" value="#cccccc" />
    <add key="appVersion" value="8.4.2" />
    <add key="jScriptVersion" value="##JSVERSION##" />
    <add key="inHouse" value="false" />
    <add key="loginDomain" value="Production" />
    <add key="LegalNotificationModifiedDate" value="12/11/2001" />
    <add key="viewStateToSession" value="false" />
    <add key="cs_broadcast_link" value="http://www.ccienet.com/sh/asp/remLogin.aspx?mkt=co" />
    <add key="mncar_url" value="http://www.mncar.org/xceligent-auto-login"/>
    <add key="report_client_logo_path" value="/activereports/" />
    <add key="ActiveReportsPath" value="\\state1\ActiveReports_Prod\" />
    <add key="BranchImagesPath" value="\\state1\ApplicationImages_Prod\BranchImages" />

    <!-- This is for the WebChart control's cleanup interval -->
    <add key="AutoCleanUpInterval" value="10" />
    <add key="cdxmail_attachments" value="\\state1\ApplicationImages_Prod\CDXMailAttachments" />
    <add key="cdxmail_branchimgs" value="\\state1\ApplicationImages_Prod\BranchImages" />


    <!-- Property Delete Request support@xceligent.com-->
    <add key="emailDeleteRequest" value="rtest@xceligent.com" />
    <!-- SMTP Server -->
    <add key="smtpServer" value="APPMAIL" />

    <add key="map_ShowProvider" value="liveEarth"/>
    <!-- values are liveEarth or mqbeta5, any other value is old MQ -->
    <add key="MapPointPath" value="http://service.mappoint.net/standard-30/mappoint.wsdl"/>
    <add key="MapPointUserId" value="128944"/>
    <add key="MapPointPassword" value="m@pP0int"/>

    <add key="BingMapsKey" value="Ak8MSp2tGanlJ0lnBwTWWWb-qGOTBlVQQnwKeReW-qfn9VisqMXHLNgRqeB2N6gj"/>
    <!-- dev key  =AvkPyto9nJE5D23xxlWnbvLXSE7gSB5mRcofcH7BsmLXYr-u2bGLTc8NUFRdlDiy -->
    <!-- prod key =Ak8MSp2tGanlJ0lnBwTWWWb-qGOTBlVQQnwKeReW-qfn9VisqMXHLNgRqeB2N6gj -->
    <add key="BingMapsPushPinPath" value="d:\inetpub\production\CDX\CDXSearch\LiveEarth\PushPins\Blue\PushPinBlue"/>


    <add key="ReportPortal.ReportPortal_JSON" value="http://192.168.50.124/ReportPortalService/ReportPortal_JSON.asmx"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="50000" />

    <add key="TenantLogoWebPath" value="/TenantLogos/"/>
    <add key="TenantLogosPath" value="\\state1\ApplicationImages_Prod\TenantLogos" />

    <add key="log_session_start" value="yes"/>

    <add key="EnableSingleServerRedirect" value="true"/>
    <add key="SingleServerCookieDomain" value=".xceligent.com"/>

    <add key="showVintageReports" value="no"/>
    <!-- Prod url: http://vt.xceligent.com/cdx7/ -->
    <add key="VerifiedTenantURL" value="http://vt.xceligent.com/cdx7/"/>

    <!-- this is the prod link - there is no dev link!! -->
    <add key="EPDManageMyListingsURL" value ="http://research.epdaz.com/"/>

    <add key="CDX9_9BetaURL" value ="http://cdxstaging.epddev.com/"/>

    <add key="ServicePortalWeb" value="http://cdx.xceligent.com/ServicePortalWeb/ServicePortal.asmx" />
    <add key="PublicRecordService" value="http://webservices.xceligent.local/CoreLogicService/api/WS/PropertyTaxDetail"/>


  </appSettings>
  <!-- end define the xceligent-specific configuration settings -->

  <location path="login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Common/Handlers">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages enableEventValidation="false" enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- adding impersonation with server acount which should be configured on all web servers and the state server.
    This is needed because of our image resize functionality, which needs to map a path and open a file from another
    server, which aspnet user doesn't have access to do -->
    <identity impersonate="true" userName="cdxuser" password="Xceligent0508"/>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="false" targetFramework="4.0"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <!-- customErrors mode="on" defaultRedirect="Common/WebForm/Error.aspx" / -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name="login" loginUrl="/CDX/Login/Login.aspx" protection="All" timeout="1435" path="/" domain="xceligent.com"/>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->

    <authorization>
      <deny users="?" />
      <allow users="*"/>
    </authorization>

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="false"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState
            mode="StateServer"
            stateConnectionString="tcpip=192.168.5.109:42424"
            cookieless="false"
            timeout="1440"
            stateNetworkTimeout="30"
    />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

    <healthMonitoring>
      <rules>
        <add name="Application Lifetime Events Default" eventName="Application Lifetime Events" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" />
      </rules>
    </healthMonitoring>

  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IImageryService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IImageryService">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService"
        contract="VEImageryService.IImageryService" name="BasicHttpBinding_IImageryService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IImageryService"
        contract="VEImageryService.IImageryService" name="CustomBinding_IImageryService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CDXEPDSessionHelper.Properties.Settings>
      <setting name="CDXEPDShareConnectionString" serializeAs="String">
        <value>data source=SQLM01Prod,1705;initial catalog=CDXEPDShare;persist security info=True;user id=cdxEpdPub;password=jasWeyes38vu;multipleactiveresultsets=True;application name=CDXEPDSessionHelper</value>
      </setting>
    </CDXEPDSessionHelper.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>