<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms">
            <forms name="DashboardAuth" path="/" loginUrl="Login.aspx" protection="All" timeout="60">
                <credentials passwordFormat="Clear">
                    <user name="chodge" password="chodge"/>
		    <user name="chodge@xceligent.com" password="B4n4n5"/>
                    <user name="ViewStats" password="LotsOfData3"/>
                </credentials>
            </forms>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
    </system.web>
    <appSettings>
	<add key="CDX7DB" value="data source=SQLM01PROD,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser" />
	<add key="CDX7DB2" value="data source=SQLM02PROD,1705;initial catalog=XcelWebReport_Prod;user=xceligentuser;password=xceligentuser" />
    </appSettings>
</configuration>
