<?xml version="1.0"?>
<configuration>
  <!--
  Report Portal Service: UAT Web.Config
  -->

  <connectionStrings>
    <add name="MainDB" connectionString="data source=XDB1A.xceligent.local\CDX,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser"/>
    <add name="ReportDB" connectionString="data source=XDB2A.xceligent.local\CDX,1705;initial catalog=XcelWebReport_Prod;user=xceligentuser;password=xceligentuser"/>
  </connectionStrings>

    <appSettings>
        <add key="smtpServer" value="APPMAIL"/>
        <add key="DB:MainDB" value="data source=XDB1A.xceligent.local\CDX,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser"/>
        <add key="webserver" value="demo.xceligent.com"/>

        <add key="BingMapsKey" value="AvkPyto9nJE5D23xxlWnbvLXSE7gSB5mRcofcH7BsmLXYr-u2bGLTc8NUFRdlDiy"/>
        <!-- dev key =AvkPyto9nJE5D23xxlWnbvLXSE7gSB5mRcofcH7BsmLXYr-u2bGLTc8NUFRdlDiy -->
        <add key="BingMapsPushPinPath" value="c:\inetpub\demo\CDX\CDXSearch\LiveEarth\PushPins\Blue\PushPinBlue"/>
        <add key="BingMapsRecordsPerMap" value="15"/>
        <add key="BingMapsPushPinStyle" value="32"/>

	<add key="ReportGenerationService" value="http://192.168.5.222/PdfGenerationService/GenerationService.asmx"/>
    </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>    

	<healthMonitoring> 
		<rules> 
		<add name="Application Lifetime Events Default" eventName="Application Lifetime Events" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" /> 
		</rules> 
	</healthMonitoring> 

  </system.web>


  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>

  
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageryService" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                          realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IImageryService">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                      maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </binaryMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                      maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                      bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                      keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                      realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                      useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService"
              contract="VEImageryService.IImageryService" name="BasicHttpBinding_IImageryService" />
            <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc/binaryHttp"
              binding="customBinding" bindingConfiguration="CustomBinding_IImageryService"
              contract="VEImageryService.IImageryService" name="CustomBinding_IImageryService" />
        </client>
    </system.serviceModel>
</configuration>