<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TenantPubWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TenantLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CDXEPDSessionHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CDXEPDShareLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EPDErrorCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CDXSessionLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="XcelTCDataContext" connectionString="metadata=res://*/EDMX.XcelTC.csdl|res://*/EDMX.XcelTC.ssdl|res://*/EDMX.XcelTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=206.230.229.24,1705;initial catalog=XcelWeb_Tenant;persist security info=True;user id=cdxEpdPvt;password=9e2uYequbruS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XcelTCDataContextPrivate" connectionString="metadata=res://*/EDMX.XcelTC.csdl|res://*/EDMX.XcelTC.ssdl|res://*/EDMX.XcelTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=206.230.229.24,1705;initial catalog=XcelWeb_Tenant;persist security info=True;user id=cdxEpdPvt;password=9e2uYequbruS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XcelTCDataContextPublic" connectionString="metadata=res://*/EDMX.XcelTC.csdl|res://*/EDMX.XcelTC.ssdl|res://*/EDMX.XcelTC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=206.230.229.24,1705;initial catalog=XcelWeb_Tenant;persist security info=True;user id=cdxEpdPub;password=jasWeyes38vu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDXEPDShareDataContextPublic" connectionString="metadata=res://*/EDMX.CDXEPDShare.csdl|res://*/EDMX.CDXEPDShare.ssdl|res://*/EDMX.CDXEPDShare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=206.230.229.26,1705;initial catalog=CDXEPDShare;persist security info=True;user id=cdxEpdPub;password=jasWeyes38vu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <applicationSettings>
    <TenantPubWeb.Properties.Settings>
      <setting name="CompetitionSearchRadius" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CompetitionMaxResults" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BingMapSubjectMarkerUrl" serializeAs="String">
        <value>http://epdn.us/images/b/maps/pins/yellow.png</value>
      </setting>
      <setting name="BingMapNearbyMarkerUrl" serializeAs="String">
        <value>http://epdn.us/images/b/maps/numPins/blue[%num%].png</value>
      </setting>
      <setting name="BingMapNearbyHighlightMarkerUrl" serializeAs="String">
        <value>http://epdn.us/images/b/maps/numPins/red[%num%].png</value>
      </setting>
      <setting name="MaxTenantExportsPerPeriod" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="PeriodType" serializeAs="String">
        <value>Month</value>
      </setting>
      <setting name="MaxTenantsSelected" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DefaultTimeAtLocationMax" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DefaultPctOccupiedMax" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DefaultLeaseExpirationMonthMax" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FindParcelRESTUrl" serializeAs="String">
        <value>http://shapews.epropertydata.com/ParcelShapeService/api/WS/FindParcel</value>
      </setting>
      <setting name="BingAPIKey" serializeAs="String">
        <value>Ak8MSp2tGanlJ0lnBwTWWWb-qGOTBlVQQnwKeReW-qfn9VisqMXHLNgRqeB2N6gj</value>
      </setting>
      <setting name="Avery5160LabelsRdlPath" serializeAs="String">
        <value>/TenantReports/Label5160</value>
      </setting>
      <setting name="EnvelopesRdlPath" serializeAs="String">
        <value>/TenantReports/envelopes</value>
      </setting>
      <setting name="CallSheetRdlPath" serializeAs="String">
        <value>/TenantReports/TenantCallSheet</value>
      </setting>
      <setting name="QuicklistRdlPath" serializeAs="String">
        <value>/TenantReports/Quicklist</value>
      </setting>
    </TenantPubWeb.Properties.Settings>
    <TenantLib.Properties.Settings>
      <setting name="MaxTenantsReturnedViaSearch" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="TenantsPerPage" serializeAs="String">
        <value>50</value>
      </setting>
    </TenantLib.Properties.Settings>
    <CDXEPDShareLib.Properties.Settings>
      <setting name="SiteSMTPServer" serializeAs="String">
        <value>epdgemininsvn</value>
      </setting>
      <setting name="DebugUsernames" serializeAs="String">
        <value>randy;dave;timm</value>
      </setting>
      <setting name="DebugUserByIP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideAdminAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerboseLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DebugIPs" serializeAs="String">
        <value>127.0.0.1;::1</value>
      </setting>
      <setting name="AllowFakeSessionCreate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FakeSessionData" serializeAs="String">
        <value>{"CDXUser":{"SessionID":5347979,"AgentID":176318,"BranchID":387,"CompanyID":2577,"MetroCode":157,"IsSupportLogin":false,"DesignationTitle":"Dave Mullen ","Roles":[{"ID":31,"RoleMeaning":"Tenant_Researcher","RoleName":"Tenant Researcher","IsInternal":true,"RoleTypeMeaning":"SYSTEMROLE"},{"ID":2,"RoleMeaning":"XCELSUPERUSER","RoleName":"Xceligent Super User","IsInternal":true,"RoleTypeMeaning":"SYSTEMROLE"},{"ID":20,"RoleMeaning":"XCELIGENT_DEVELOPER","RoleName":"Xceligent Developer","IsInternal":true,"RoleTypeMeaning":"SYSTEMROLE"},{"ID":30,"RoleMeaning":"Comp_Researcher","RoleName":"Comp Researcher","IsInternal":true,"RoleTypeMeaning":"SYSTEMROLE"}]},"AdditionalItems":null,"ListingId":12334567,"BuildingId":null,"CDXSessionId":null,"MetroCode":74}</value>
      </setting>
      <setting name="UseCDX99Session" serializeAs="String">
        <value>False</value>
      </setting>
    </CDXEPDShareLib.Properties.Settings>
    <CDXEPDSessionHelper.Properties.Settings>
      <setting name="CDXEPDShareConnectionString" serializeAs="String">
        <value>data source=206.230.229.24,1705;initial catalog=CDXEPDShare;persist security info=True;user id=cdxEpdPub;password=jasWeyes38vu;multipleactiveresultsets=True;application name=CDXEPDSessionHelper</value>
      </setting>
    </CDXEPDSessionHelper.Properties.Settings>
    <CDXSessionLib.Properties.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>data source=xdb3.xceligent.com,1705;initial catalog=CDXEPDShare;persist security info=True;user id=cdxEpdPvt;password=9e2uYequbruS;multipleactiveresultsets=True;application name=CDXSessionLib</value>
      </setting>
      <setting name="TokenLength" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="SessionTimeoutInMinutes" serializeAs="String">
        <value>60</value>
      </setting>
    </CDXSessionLib.Properties.Settings>
    <EPDErrorCOM.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>RandyDev</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>tenantcomps.epddev.com</value>
      </setting>
      <setting name="PathToApp" serializeAs="String">
        <value>http://localhost:53569/</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorFailLog" serializeAs="String">
        <value>E:\temp</value>
      </setting>
      <setting name="ErrorFailSMTPServer" serializeAs="String">
        <value>epdgemininsvn</value>
      </setting>
    </EPDErrorCOM.Properties.Settings>
  </applicationSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
