<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MapSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="EnableDebug" value="false"/>
    <add key="CDXDB" value="data source=SQLM01PROD,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser"/>
    <add key="CDXDB2" value="data source=SQLM02PROD,1705;initial catalog=XcelWebReport_Prod;user=xceligentuser;password=xceligentuser"/>
   </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MapSearch.Properties.Settings>
      <setting name="ParcelStreamRequestGeoURL" serializeAs="String">
        <value>http://parcelstream.com/GetByGeometry.aspx?geo=[%geo%]&amp;datasource=SS.Base.Parcels/Parcels&amp;fields=*&amp;showSchema=false&amp;SS_CANDY=[%sscandy%]&amp;UID=[%uid%]</value>
      </setting>
      <setting name="ParcelStreamSessionURL" serializeAs="String">
        <value>http://parcelstream.com/InitSession.aspx?sik=[%sikid%]&amp;output=xml</value>
      </setting>
      <setting name="ParcelStreamRequestAPNURL" serializeAs="String">
        <value>http://parcelstream.com/GetBykey.aspx?&amp;keyName=LOCID&amp;keyValue=[%apnkey%]&amp;datasource=SS.Base.Parcels/Parcels&amp;fields=*&amp;showSchema=false&amp;SS_CANDY=[%sscandy%]&amp;UID=[%uid%]</value>
      </setting>
      <setting name="ParcelStreamAuthURL" serializeAs="String">
        <value>http://parcelstream.com/admin/getSIK.aspx?Account=[%account%]&amp;LOGIN=[%login%]&amp;baseReferrer=[%baseReferrer%]</value>
      </setting>
      <setting name="SIKId" serializeAs="String">
        <value>29f79d53-60a8-482e-9c41-52f1ca67df39</value>
      </setting>
      <setting name="ParcelStreamAccount" serializeAs="String">
        <value>xceligent</value>
      </setting>
      <setting name="ParcelStreamLogin" serializeAs="String">
        <value>xcelUser1</value>
      </setting>
      <setting name="BingAPIKey" serializeAs="String">
        <value>Ak8MSp2tGanlJ0lnBwTWWWb-qGOTBlVQQnwKeReW-qfn9VisqMXHLNgRqeB2N6gj</value>
      </setting>
    </MapSearch.Properties.Settings>
  </applicationSettings>
</configuration>
