<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    </system.web>


    <appSettings>
        <add key="BingMapsKey" value="AvkPyto9nJE5D23xxlWnbvLXSE7gSB5mRcofcH7BsmLXYr-u2bGLTc8NUFRdlDiy"/>
        <add key="CDX7DB" value="data source=SQLM01PROD,1705;initial catalog=XcelWeb_Prod;user=xceligentuser;password=xceligentuser"/>
        <add key="CDX7DB2" value="data source=SQLM02PROD,1705;initial catalog=XcelWebReport_Prod;user=xceligentuser;password=xceligentuser"/>
	<add key="CDX7ODS" value="data source=SQLM01PROD,1705;initial catalog=ODS;user=xceligentuser;password=xceligentuser"/>
        <add key="FindParcelUtil" value="http://192.168.5.31/WSZoomMaps/WS/FindParcel"/>
        <add key="FindMultiParcelUtil" value="http://192.168.5.31/WSZoomMaps/WS/FindMultiParcel"/>
    </appSettings>
</configuration>
